header {
    height: 80vh;
}

main {
    height: 100vh;
}


  
  body{
    margin: 0;
    height: 100vh;
  }
  

  
  .navbar-toggler {
    border: none; 
    background-color: transparent; 
    outline: none; 
    box-shadow: none; 
    padding: 0;
    margin-right: 1rem;
}

.navbar-toggler-icon {
    font-size: 15px; 
    background-color: transparent; 
    border: none; 
}
.navbar-toggler:focus {
  outline: none; 
  box-shadow: none; 
}
  
  .logo{
    margin-left: 2rem;
  }
  
  #login:hover {
    background-color: #f0f0f0; /* Adjust the color as needed */
    color: #333; /* Adjust the text color as needed */
  }
  #sigin:hover{
    background-color: #f0f0f0; /* Adjust the color as needed */
    color: #333;
  }
  
  
  
  .navbar-nav {
    flex-direction: column; /* Make links vertical in expanded state */
   text-align: center;
   background-image: linear-gradient(to right, #007bff, #66bbff); /* Ajusta los colores según tu logo */
   background-size: cover;
  
  }
  
  
  .sombra {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);;
  }
  
  .cambios:hover {
    background-color: #cfcfcf;
    
  }