/* Resetear márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del cuerpo */
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* Estilos del header */
header {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

/* Video de fondo */
#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.text-header {
  line-height: 2;
}

/* Overlay para oscurecer el video */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Contenido del header */
.container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.custom-container {
  width: 100%; /* Ocupa todo el ancho */
  height: 40vh; /* 40% de la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7vh;
  background: linear-gradient(to right, #2146b7, #17e8c0); /* Degradado de azul a turquesa */
  color: white; /* Color del texto */
}

/* Barra de navegación */
.navbar {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.404);
  color: antiquewhite;
}


.container-buttons {
  justify-content: end;
}

.nav-link:hover {
  background-color: #00a6ff73;
  color: black;
  border-radius: 20px;
  width: 100vh;
  text-align: center;
}

.button-icon {
  width: 32px;
  height: 32px;

  font-size: 1.2em;
  padding: 0;
  display: flex;
}

.button-menu {
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0;
}

.button-container {
  margin-left: 0.5rem;
}

.button-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}



.navbar-toggler {
  display: block !important;
}

.navbar-collapse {
  transition: height 0.3s ease;
}

.collapse.show {
  display: block;
  color: white;

}

.button-menu:focus,
.button-menu:active {
  outline: none;
  box-shadow: none;
  border: none;
}

@media(min-width: 992px) {

  .collapse:not(.show) {

    display: none;

  }

  .carousel {

    height: 600px;

  }

  .carousel-item img {

    max-height: 500px;

  }


  .section1 {

    margin-top: 5px;
    justify-content: center;

  }
}



@media(min-width:300px) and (max-width: 767px) {

  .navbar {

    background-color: black;

  }

  .img-logo {
    margin-top: 3.5rem;
  }


  #nav-icon {

    justify-content: center;

  }

  .nav-link:hover {



    width: 50vh;

  }

  .carousel img {

    height: 100vh;
  }

  .section1 {
    margin: 0;
  }

  .login-section {
    height: auto;
    padding: 20px;
  }

  .login-container {
    width: 95%;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

}





@media (min-width: 1200px) {

  .section1 {

    margin-top: 50px;

  }

}

/*main*/

main {

  position: relative;

  width: 100%;

  overflow: hidden;

}

.carousel {

  height: 500px;

}



.carousel-caption {


  color: #fff;
  text-align: center;
  position: relative;


}

.carousel-caption p {
  justify-content: center;
}



.carousel-item img {

  max-height: 500px;

  object-fit: cover;

}

.section1 {

  text-align: center;
  background: linear-gradient(to right, #2196F3, #4CAF50);
  padding: 50px;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.text-s1 {
  font-size: 18px;
  color: antiquewhite;
  line-height: 1.5;
}

.img-personadesarrollando {
  max-width: 350px;
  border-radius: 10px;

}

.container-section2 {
  width: 70%;  
}

.section2 {
  background-color: #333333;
  color: white;
  padding: 50px 0;
}

.section2 h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.card {
  background: #179ece;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
}

.card-img-top {
  width: 100px;
  margin-bottom: 15px;

  margin: 0 auto;
}

/*seccion vip*/

.login-section {
  height: 100vh;
  background: linear-gradient(90deg, #0077ff, #00d9a7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 80%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}


.illustration {
  max-width: 100%;
  border-radius: 15px;
}


.texto-vip {
  color: white;
  margin-bottom: 20px;
}

.form-label {
  color: white;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
}


.btn-primary {
  background-color: #0077ff;
  border: none;
}

.btn-primary:hover {
  background-color: #005bbb;
}