* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del cuerpo */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;

 
}

/* Estilos del header */
header {
  
  position: relative;
 
  width: 100%;
  height: 80px;

}

.text-header{
  line-height:2;
}

.navbar {

  background-color: black;
  color: antiquewhite;
 }

 
.container-buttons{
  justify-content: end;
}
.nav-link:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
  color: black;
  border-radius: 20px;
  width: 100vh;
  text-align: center;
}

.button-icon {
  width: 32px;
  height: 32px;
  
 font-size: 1.2em;
  padding: 0;
  display: flex; 
}
.button-menu{
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0;
}
.button-container {
  margin-left: 0.5rem; 
}

.button-icon:hover{
  transform: scale(1.2); 
  cursor: pointer;
}



.navbar-toggler {
  display: block;
}

  
.collapse.show {
  display: block !important;
  color: white;
  
}
.button-menu:focus,
.button-menu:active {
  outline: none;
  box-shadow: none;
  border: none;
}

@media(min-width: 768px) and (max-width: 1199px) {

   .collapse:not(.show) {
  
   display: none;
  
   }
   .form-container {
  
    width: 50%;
    
   justify-content: center;
    
    
  }


  
  }
  
  
 
  
  
  @media (min-width:350px) and (max-width: 767px) {
  
 .navbar {
  
   background-color: black;
  
  }
  
  #nav-icon{
  
    justify-content: center;
  
  }
  
  .nav-link:hover {
  
    width: 50vh;
  
   }

  
  .form-container {
  
    width: 100%;
    
   justify-content: center;
   margin-top: 14vh;
    
    
  }}


  
   
  
  
   @media (min-width: 1200px) {
    
    .form-container {
  
  width: 30%;
  
  min-height: 50%; 
  
  margin-top: 15vh;
  justify-content: start;
  
    }
}

  
    
    
  
  /*main*/
  
 main{
  background-image: url(../assets/img/DevMinds_LogIn_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
  
    
    
    
    /* Estilo de los campos del formulario */
    .form-control {
      width: 100%;
      padding: 12px;
      margin: 15px 0;
      border: none;
      border-radius: 8px;
      font-size: 1rem; 
      background: rgba(255, 255, 255, 0.9);
    }
    
    .form-control:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 119, 255, 0.6);
    }
    
    .btn-primary {
      width: 100%;
      padding: 12px;
      background-color: #0077ff;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
    }
    
    .btn-primary:hover {
      background-color: #005bbb;
    }
    
    